absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
blessings==1.7
boto3==1.20.7
botocore==1.23.7
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
checksumdir==1.2.0
click==8.0.3
cotk==0.0.1
cycler==0.11.0
datasets==1.17.0
decorator==5.1.0
dill==0.3.4
filelock==3.4.2
flatbuffers==2.0
fonttools==4.33.3
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googledrivedownloader==0.4
gpustat==0.6.0
grpcio==1.43.0
h5py==3.5.0
huggingface-hub==0.2.1
idna==3.3
importlib-metadata==4.10.0
ipdb==0.13.9
ipython==7.30.1
isodate==0.6.1
jedi==0.18.1
jieba==0.42.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.2
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict==5.2.0
multiprocess==0.70.12.2
networkx==2.6.3
nltk==3.6.5
numpy 
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
olefile 
opt-einsum==3.3.0
orjson==3.6.5
packaging==21.3
pandas==1.3.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.24
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.1
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytorch-lightning==1.5.10
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.2.0
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
rdflib==6.1.1
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0.2
scipy==1.7.2
sentencepiece==0.1.96
six 
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-gpu==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==3.1.0
tokenizers==0.10.3
toml==0.10.2
torch==1.8.1
torch-cluster 
torch-geometric==2.0.3
torch-scatter
torch-sparse
torch-spline-conv 
torchfile==0.1.0
torchmetrics==0.7.2
torchsummary==1.5.1
torchvision==0.9.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.15.0
typing-extensions 
urllib3==1.26.7
visdom==0.1.8.9
wcwidth==0.2.5
websocket-client==1.2.3
Werkzeug==2.0.2
wrapt==1.13.3
xlrd==2.0.1
xlwt==1.3.0
xxhash==2.0.2
yacs==0.1.8
yarl==1.7.2
zipp==3.6.0
